.calendar-actions-container {
  display: flex;
  justify-content: space-between;
}

.rdt > input {
  background-color: white;
  color: black;
}

.MuiPickersToolbar-toolbar {
  background-color: white;
  color: black;
}

.MuiPickersDay-daySelected {
  background-color: black;
  color: white;
}

.MuiButton-textPrimary:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
