hr {
  width: 50%;
  margin: 0 auto;
  border-color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.contact-content {
  margin: auto;
  color: white;
  background-color: var(--main-background-opaque);
  width: 70vw;
  min-height: 60vh;
  padding-top: 2rem;
  padding-bottom: 1rem;
  border-radius: 20px;
  border: 3px solid #252525;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-intro {
  width: 50vw;
  margin: auto;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  text-align: center;
}

.contact-title {
  text-align: center;
}

.contact-info-container {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.officers-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.position {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  width: 100%;
}

.position-title {
  margin-right: 0.5rem;
  width: 50%;
  text-align: right;
}

.position::after {
  content: "";
  display: block;
  width: 1px;
  height: 0;
  background: transparent;
  margin-left: 1em;
}

.email {
  width: 50%;
  color: rgb(183, 183, 183);
  text-decoration: none;
}

.email:hover {
  color: #ffffff;
}
