/* login-page.css */
.login-container {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.login-icon {
  width: 250px;
  height: auto;
  font-size: 48px;
  margin-bottom: -20px;
}

.login-title {
  color: var(--main-accent);
}

body {
  background-color: whitesmoke;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: whitesmoke;
  padding: 20px;
  padding-bottom: 100px;
  width: 300px;
  margin-top: 30px;
  border-radius: 10px;
}

.login-form select,
.login-form input {
  background-color: whitesmoke;
  color: black;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid var(--main-accent);
}

.login-form label {
  color: var(--main-accent);
  font-weight: 800;
  width: 100%;
  font-size: 1.2rem;
}

.submit-button-container {
  position: relative;
  float: right;
  cursor: pointer;
}

.login-form button {
  position: relative;
  border: none;
  background-color: whitesmoke;
  border-radius: 5px;
  right: 0;
  padding: 0;
  margin-right: -5%;
}

.login-button-icon:hover {
  transform: scale(1.2);
}

.login-button-icon {
  height: 60px;
  width: 60px;
  transition: transform 0.3s ease;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0px 0;
}

.error {
  color: red;
  margin-top: -10x;
}
