.membership-content {
  width: 70vw;
  background-color: var(--main-background-opaque);
  border-radius: 20px;
  border: 3px solid #252525;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  margin-top: 2em;
}

.people-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2em;
  border-top: 2px solid whitesmoke;
  border-bottom: 2px solid whitesmoke;
  position: relative;
  padding: 1em 1em 0.5em 1em;
}

.person-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  height: fit-content;
  border: 2px solid #252525;
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  font-size: xx-large;
}

.linkedin-link {
  position: absolute;
  top: 2rem;
  left: 0;
}

.linkedin-icon {
  width: 20px;
  height: 20px;
}

.person-image-container {
  width: 100%; /* or your specific width */
  height: 250px; /* Set your desired fixed height */
  overflow: hidden; /* Hides the overflow (excess part of the image) */
  display: inline-block; /* or flex, depending on your layout */
}

.first-category .person-image-container {
  height: 300px; /* Set your desired fixed height */
}

.person-image {
  width: 100%;
  height: auto;
  grid-row: 2;
  object-fit: cover;
}

.person-info-top,
.person-info-bottom {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c4c4c;
}

.person-info-top {
  height: 2rem;
  grid-row: 1;
  -moz-border-radius: 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
}

.person-info-top.active {
  height: 0;
}

.person-container.active > img {
  -moz-border-radius: 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px;
}

.person-container.active > a {
  top: 0;
}

.person-info-bottom {
  height: 5rem;
  grid-row: 3;
  flex-direction: column;
  box-sizing: border-box;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
}

.person-name,
.person-major,
.person-position {
  margin: 0;
  text-align: center;
  height: fit-content;
}

.person-name {
  font-family: "URW Chancery L", "Monotype Corsiva", "Apple Chancery",
    "ITC Zapf Chancery", cursive;
  color: whitesmoke;
  font-size: x-large;
}

.person-position {
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  font-size: medium;
  color: whitesmoke;
}

.person-major {
  font-family: "Roboto Condensed", sans-serif;
  font-size: small;
  text-emphasis: none;
  height: 2rem;
}

.last-category .people-container {
  border-bottom: none;
}

.category-container {
  margin-top: 2em;
  font-size: xx-large;
}

.category-container > h2 {
  color: white;
}

.first-category > .people-container {
  margin-top: 0.5em !important;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
}

.first-category.category-container {
  margin-top: 1em;
  padding: 0em 3em 0.5em 3em;
}
