#root {
  --main-accent: rgb(18, 52, 86);
  --main-accent-rgb: 18, 52, 86;
  --main-accent-opaque: rgba(18, 52, 86, 0.9);
}

#home-portal-button {
  grid-column: 3;
  justify-self: end;
  background-color: #123456;
  border-radius: 50px;
  border: 1px solid #a2a2a2;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  height: fit-content;
  padding: 1rem 1rem;

  position: fixed;
  top: 10px;
  left: 10px;

  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.787);
  font-size: 17px;
  text-shadow: 1px 1px #000;
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: 0 0 1px #c2c2c2, 0 0 0.5px #c2c2c2;
}
