.points-container {
  width: 70vw;
}

#summary-container,
#details-container {
  color: black;
}

#summary-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: max(40px, 10vh);
}

.category-summary > h3 {
  text-decoration: underline;
}

.category-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row-container {
  border: 1px solid black;
  padding: 2px 4px;
  min-height: 60px;
}

.details-columns {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-columns > span {
  width: fit-content;
}

.all-points-category-container > h3 {
  color: black;
}
